*.o
*.la
*.lo

/libtool
/stamp-h1
/configure
/aclocal.m4
/Makefile
/Makefile.in
/autom4te.cache/

/config.h*
/config.log
/config.status
/config/*
!/config/autorun.sh
!/config/config.rpath

/libgenthrift/.deps/
/libgenthrift/.libs/
/libgenthrift/.dirstamp
/libgenthrift/configure.h

/libcassandra/.deps/
/libcassandra/.dirstamp
/libcassandra/.libs/
/libcassandra/configure.h

/libcassie/.deps/
/libcassie/.dirstamp
/libcassie/.libs/
/libcassie/configure.h
